header{
	background: linear-gradient(68.15deg, #FF00FF 16.62%, #40E0D0 85.61%);
	padding: 1px;
	text-align: center;
}

h1{
	font-size: 25px;
	color: white;
	text-shadow: -1px 0 #191970, 0 3px #191970, 3px 0 #191970, 0 -1px #191970;
	font-family: calibri;
}

h2{
	font-size: 18px;
	color: white;
	text-align: center;
	font-family: calibri;
}

p{
	font-size: 14px;
	color: white;
	text-align: justify;
	line-height: 1.3;
	font-family: calibri;
}

body{
	background-color: rgba(255, 255, 255, 0.7);
	background-image: url(Imagens/studioghibli.jpg);
	background-blend-mode: overlay;
	margin: 0;
}

nav{
	background: linear-gradient(68.15deg, #FF00FF 16.62%, #40E0D0 85.61%);
	padding: 1px;
	text-align: center;
	font-family: calibri;
}

.menu-p ul{                            
	padding: 0;
	background: linear-gradient(68.15deg, #FF00FF 16.62%, #40E0D0 85.61%);
	border: 3px solid white;
  	border-radius: 10px;
  	-moz-border-radius: 5px;
}

.menu-p ul li{
	display: inline;
	position: relative;
}

.menu-p ul li a{
	color: white;
	text-shadow: -1px 0 #191970, 0 1px #191970, 1px 0 #191970, 0 -1px #191970;
	text-decoration: none;
	font-size: 10;
	font: arial;
	display: inline;
	padding: 20px;
}

.menu-p ul li a:hover{
	padding: 1px;
	border: 0px;
  	border-radius: 10px;
  	-moz-border-radius: 5px;
  	background-color: #836FFF;
}

.container{
	margin-top: 10px;
  	display: flex;
 	flex-direction: row;
  	justify-content: center;
 	align-items: flex-start;
 	column-gap: 60px;
}

.esquerda{
  background-color: rgba(255, 20, 147, 0.7);
  width: 20em;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.meio{
  background-color: rgba(138, 43, 226, 0.7);
  width: 23em;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.direita{
  background-color: rgba(72, 209, 204, 0.8);
  width: 20em;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.imagem{
	text-align: center;
}

.totoro{
	width: 450px;
	height: 250px;
	padding-left: 450px;
	padding-top: 15px;	
}

.chihiro{
	width: 450px;
	height: 250px;
	padding-left: 450px;	
}

.kiki{
	width: 450px;
	height: 250px;
	padding-left: 450px;
	padding-top: 15px;	
}

footer{
	background: linear-gradient(68.15deg, #FF00FF 16.62%, #40E0D0 85.61%);
	padding: 3px 3px;
	text-align: right;
	color: #fff;
  	bottom: 0;
  	position: fixed;
  	width: 100%;
  	font-family: calibri;
}